<?xml version='1.0' encoding='utf-8'?>
<plugin id="nl.creativeskills.cordova.waitingdialog" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>WaitingDialog</name>
	<DESCRIPTION>Cordova Plugin Waiting dialog</DESCRIPTION>
	<js-module name="WaitingDialog" src="www/WaitingDialog.js">
		<clobbers target="cordova.plugins.WaitingDialog" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="WaitingDialog">
				<param name="android-package" value="nl.creativeskills.cordova.waitingdialog" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/WaitingDialog.java" target-dir="src/nl/creativeskills/cordova/waitingdialog" />
	</platform>
</plugin>